

    <div class="content py-5">
        <div class="content-container py-5 px-5">
            <div class="header d-flex mb-4" style="font-family: RobotoMedium, sans-serif; color: #052C65;">
                <h1>Создание категории доходов</h1>
            </div>
            <div class="content-description d-flex flex-column gap-3">
                <input class="content-text d-flex px-3 border rounded-1"
                       style="width: 397px; height: 38px; border: 1px solid #CED4DA;" type="text"
                    id="titleCategoryInput"   placeholder="Название...">
                <span id="titleCategoryInput-error" class="error invalid-feedback">Заполните поле</span>
                <div class="block-buttons d-flex flex-row gap-2" style=" font-family: RobotoMedium, sans-serif;">
                    <a href="/create-categories-income" class=" btn btn-success" id="saveButton">Создать</a>
                    <a href="/income" class="btn btn-danger">Отмена</a>
                </div>
            </div>
        </div>
    </div>
