


    <div class="content py-5 px-5" id="content">
        <div class="content-container py-5 pl-5">
            <div class="header d-flex mb-4" style="font-family: RobotoMedium, sans-serif; color: #052C65;">
                <h1>Редактирование дохода/расхода</h1>
            </div>
            <div class="content-description d-flex flex-column gap-2">
                <select class="form-select text-secondary" style="width: 397px" id="typeInput"
                        aria-label="Default select example">
                  <!--  <option id="base" selected>Тип...</option> -->
                    <option id="income" value="income">доход</option>
                    <option id="expense" value="expense">расход</option>
                    <span id="typeInput-error" class="error invalid-feedback">Заполните поле тип</span>
                </select>




          <!--      <input class="content-text d-flex px-3 border rounded-1"
                       style="width: 397px; height: 38px; border: 1px solid #CED4DA;" type="text" placeholder="Доход" id="typeInput">
                <span id="typeInput-error" class="error invalid-feedback">Заполните поле тип</span>-->

             <!--  <input class="content-text d-flex px-3 border rounded-1"
                       style="width: 397px; height: 38px; border: 1px solid #CED4DA;" type="text"
                       placeholder="Зарплата" id="categoryInput">
                <span id="categoryInput-error" class="error invalid-feedback">Заполните поле категория</span>-->



                   <select class="form-select text-secondary" style="width: 397px" id="categoryInput"
                           aria-label="Default select example">
                       <!--
                                           <option selected disabled>Категория...</option>
                                           <option value="income">доход</option>
                                           <option value="expense">расход</option>
                       -->
                    <span id="categoryInput-error" class="error invalid-feedback">Заполните поле категория</span>

                </select>
                <input class="content-text d-flex px-3 border rounded-1"
                       style="width: 397px; height: 38px; border: 1px solid #CED4DA;" type="number" placeholder="500$" id="amountInput">
                <span id="amountInput-error" class="error invalid-feedback">Заполните поле сумма</span>
                <input class="content-text d-flex px-3 border rounded-1"
                       style="width: 397px; height: 38px; border: 1px solid #CED4DA;" type="text"
                       placeholder="11.09.2022" id="dateInput">
                <span id="dateInput-error" class="error invalid-feedback">Заполните поле дата</span>
                <input class="content-text d-flex mb-1 px-3 border rounded-1"
                       style="width: 397px; height: 38px; border: 1px solid #CED4DA;" type="text"
                       placeholder="Комментарий..." id="commentInput">
                <span id="commentInput-error" class="error invalid-feedback">Заполните поле коментарий</span>
                <div class="block-buttons d-flex flex-row gap-2" style=" font-family: RobotoMedium, sans-serif;">
                    <a href="#" class="btn btn-success" role="button" id="updateOperation">Сохранить</a>
                 <!--   <button type="button" class=" btn btn-success" id="updateOperation">Сохранить</button>-->
                    <a class="btn btn-danger" href="/operations" id="cancelOperation">Отмена</a>
                  <!--  <button type="button" class=" btn btn-danger" id="cancelOperation">Отмена</button>-->
                </div>
            </div>
        </div>
    </div>




