

    <div class="content id=content py-5">
        <div class="content-container py-5 px-5">
            <div class="header d-flex mb-4" style="font-family: RobotoMedium, sans-serif; color: #052C65;">
                <h1 id="title">Расходы</h1>
            </div>
            <div class="content-description d-flex flex-wrap flex-row gap-3" style="width: 1100px;" id="content-description">
             <!--
                <div class="content-third-row d-flex flex-row gap-3">

                    <div class="card" style="width: 352px; height: 121px;">
                        <div class="card-body">
                            <h4 id="games" class="card-title mb-2">Развлечения</h4>
                            <div class="content-buttons d-flex flex-row gap-2">
                                <a href="/edit-categories-expense" class="edit-link btn btn-primary">Редактировать</a>
                                <a href="/categories-expense-popup" class="delete-link btn btn-danger">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 352px; height: 133px;">
                            <div class="card-body mt-4">
                                <a type="button" href="/create-categories-expense" class="btn d-flex justify-content-center" style="color: #CED4DA">+</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
