<div class="content id=content py-5">
    <div class="content-container py-5 px-5 d-flex flex-column justify-content-between">
        <div class="header d-flex mb-5" style="font-family: RobotoMedium, sans-serif; color: #052C65;">
            <h1 id="title">Доходы</h1>
        </div>

        <div class="content-description d-flex flex-wrap flex-row gap-3 " style="width: 1100px;"  id="content-description">
           <!-- <div class="content-first-row d-flex flex-row gap-3" id="first-row">


                                    <div class="card" id="card" style="width: 352px; height: 121px;">
                                        <div class="card-body" id="card-body">
                                            <h3 class="card-title mb-2">Депозиты</h3>
                                            <div class="content-buttons  d-flex flex-row gap-2" id="content-buttons">
                                                <a  href="/edit-categories-income" class="btn btn-primary updateButton edit-link" id="updateButton">Редактировать</a>
                                                <a href="/categories-income-popup" class="btn btn-danger delete-link deleteButton" id="deleteButton">Удалить</a>
                                            </div>
                                        </div>
                                    </div>

            </div>-->

         <!--   <div class="content-second-row d-flex flex-row gap-3"> -->

               <div class="row" id="row">
                   <div class="col">
                       <div class="card"  style="width: 352px; height: 133px;">
                           <div class="card-body mt-4" id="card-body">
                               <a type="button" href="/create-categories-income" class="btn d-flex justify-content-center" style="color: #CED4DA">+</a>
                           </div>
                       </div>
                   </div>
               </div>

        </div>
    </div>
</div>

